absl-py==2.1.0
Adafruit-Blinka==8.56.0
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-framebuf==1.6.7
adafruit-circuitpython-requests==4.1.10
adafruit-circuitpython-rgb-display==3.13
adafruit-circuitpython-ssd1306==2.12.19
adafruit-circuitpython-typing==1.11.2
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
aiofiles==23.2.1
alabaster==1.0.0
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.6.2.post1
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
av==13.1.0
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
binho-host-adapter==0.1.6
boto3==1.37.19
botocore==1.37.19
builtwith==1.3.4
cached_path==1.7.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.4.0
chex==0.1.88
click==8.1.7
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
colorzero==2.0
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
dateparser==1.1.8
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.15
Distance==0.1.3
distro==1.8.0
dlib==19.24.6
dnspython==2.7.0
docopt==0.6.2
docutils==0.21.2
editdistance==0.8.1
email_validator==2.2.0
eng-to-ipa==0.0.2
epitran @ file:///home/pi/openpibo-os.pibrain/openpibo/modules/speech/epitran-1.25.1-py2.py3-none-any.whl#sha256=e04bfd0bebe9ebfbe32950abcd990454aa603e07de0eda060304ff0c1696727e
etils==1.11.0
fastapi==0.115.4
fastapi-cli==0.0.5
fastapi-socketio==0.0.10
ffmpy==0.5.0
filelock==3.16.1
flatbuffers==20181003210633
flax==0.10.2
fonttools==4.56.0
fsspec==2024.12.0
fugashi==1.3.0
future==1.0.0
g2p-en==2.1.0
g2pK==0.9.4
g2pkk==0.1.2
gast==0.6.0
google-api-core==2.24.2
google-auth==2.37.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.3
google-cloud-storage==2.19.0
google-crc32c==1.7.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
gpiozero==2.0.1
gradio==5.14.0
gradio_client==1.7.0
grpcio==1.68.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-fr==2.0.2
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gyp==0.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
huggingface_hub==0.27.1
humanfriendly==10.0
humanize==4.11.0
id==1.5.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
importlib_resources==6.4.5
inflect==7.0.0
jaconv==0.4.0
jamo==0.4.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.4.34
jaxlib==0.4.34
jeepney==0.9.0
jieba==0.42.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jpype1==1.5.1
jsonlines==1.2.0
keras==2.15.0
keyring==25.6.0
kiwisolver==1.4.8
konlpy==0.6.0
langid==1.1.6
lgpio==0.2.2.0
libarchive-c==2.9
libclang==18.1.1
librosa==0.9.1
llvmlite==0.44.0
loguru==0.7.2
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
mecab-python3==1.0.9
mediapipe==0.10.18
ml-dtypes==0.2.0
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
munkres==1.1.4
myst-parser==4.0.1
namex==0.0.8
nest_asyncio==1.6.0
networkx==2.8.8
nh3==0.2.21
nltk==3.9.1
num2words==0.5.12
numba==0.61.0
numpy==1.26.4
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.20.1
onnxslim==0.1.49
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpibo-detect-models==0.4.4
openpibo-dlib-models==0.4.2
openpibo-face-models==0.4.3
openpibo-models==0.4.9
openpibo-python @ file:///home/pi/openpibo-os.pibrain/dist/openpibo_python-0.9.3.1-py3-none-any.whl#sha256=4621e1038b3181ca3df18205c82aa991b54db9110b49398f4f42526376b0ccb5
openvino==2024.5.0
openvino-dev==2024.5.0
openvino-telemetry==2024.5.0
opt_einsum==3.4.0
optax==0.2.4
optree==0.15.0
orbax-checkpoint==0.10.3
orjson==3.10.16
packaging==25.0
pandas==2.2.3
panphon==0.21.2
picamera2==0.3.21
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
pillow==11.0.0
plac==1.4.3
platformdirs==4.3.7
pooch==1.8.2
proces==0.1.7
proto-plus==1.26.1
protobuf==4.25.5
psutil==7.0.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodomex==3.11.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pyftdi==0.56.0
Pygments==2.18.0
pykakasi==2.2.1
pyparsing==3.2.1
pypinyin==0.50.0
pyserial==3.5
python-apt==2.6.0
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
python-multipart==0.0.20
python-prctl==1.8.1
python-socketio==5.11.4
pytz==2024.2
pyusb==1.3.1
PyYAML==6.0.2
pyzbar==0.1.9
readme_renderer==44.0
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
resampy==0.4.3
rfc3986==2.0.0
rich==13.9.4
roman-numerals-py==3.1.0
rpi-lgpio==0.6
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
rsa==4.9
ruff==0.11.2
s3transfer==0.11.4
safehttpx==0.1.6
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
SecretStorage==3.3.3
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejpeg==1.7.6
simplejson==3.19.3
six==1.16.0
smbus2==0.4.2
sniffio==1.3.1
snowballstemmer==2.2.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
Sphinx==8.2.3
sphinx-copybutton==0.5.2
sphinx_rtd_theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spidev==3.5
ssh-import-id==5.10
starlette==0.41.2
sympy==1.13.1
sysv-ipc==1.1.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-cpu-aws==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflowjs==4.21.0
termcolor==2.5.0
tf-keras==2.14.1
tflite-runtime==2.14.0
threadpoolctl==3.6.0
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.13.2
toolz==1.0.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.27.4
tweepy==4.14.0
twine==6.1.0
txtsplit==1.0.0
typer==0.13.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.3.1
ultralytics==8.3.98
ultralytics-thop==2.0.14
unicodecsv==0.14.1
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
urllib3==2.2.3
uvicorn==0.32.0
uvloop==0.21.0
v4l2-python3==0.3.5
wasabi==0.10.1
watchfiles==0.24.0
websockets==14.0
Werkzeug==3.1.3
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.1.1
zipp==3.21.0
