absl-py==2.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
astunparse==1.6.3
attrs==25.1.0
av==13.1.0
beautifulsoup4==4.12.3
bidict==0.23.1
builtwith==1.3.4
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.4.0
chex==0.1.88
click==8.1.7
cn2an==0.5.23
colorama==0.4.6
coloredlogs==15.0.1
colorzero==2.0
contourpy==1.3.1
cycler==0.12.1
defusedxml==0.7.1
Deprecated==1.2.15
distro==1.8.0
dlib==19.24.6
dnspython==2.7.0
docopt==0.6.2
editdistance==0.8.1
email_validator==2.2.0
eng-to-ipa==0.0.2
# Editable install with no version control (epitran==1.25.1)
-e /home/pi/.pyenv/lib/python3.11/site-packages/epitran-1.25.1-py3.11.egg
etils==1.11.0
fastapi==0.115.4
fastapi-cli==0.0.5
fastapi-socketio==0.0.10
filelock==3.16.1
flatbuffers==20181003210633
flax==0.10.2
fonttools==4.56.0
fsspec==2024.12.0
future==1.0.0
g2pK==0.9.4
gast==0.6.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
gpiozero==2.0.1
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
humanfriendly==10.0
humanize==4.11.0
idna==3.10
importlib_resources==6.4.5
jaconv==0.4.0
jamo==0.4.1
jax==0.4.34
jaxlib==0.4.34
Jinja2==3.1.4
joblib==1.4.2
jpype1==1.5.1
keras==2.15.0
kiwisolver==1.4.8
konlpy==0.6.0
lgpio==0.2.2.0
libarchive-c==2.9
libclang==18.1.1
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
mediapipe==0.10.18
ml_dtypes==0.5.0
mpmath==1.3.0
msgpack==1.1.0
munkres==1.1.4
nest_asyncio==1.6.0
networkx==3.1
nltk==3.9.1
num2words==0.5.14
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.20.1
opencv-contrib-python==4.10.0.84
openpibo-detect-models==0.4.4
openpibo-dlib-models==0.4.2
openpibo-face-models==0.4.3
openpibo-models==0.4.8
-e git+https://github.com/themakerrobot/openpibo-os.hat@2286dc41a73ec09f3442190a9f034cb8ed978caa#egg=openpibo_python&subdirectory=pypkg
openvino==2024.5.0
openvino-dev==2024.5.0
openvino-telemetry==2024.5.0
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.10.3
packaging==23.2
pandas==2.2.3
panphon==0.21.2
picamera2==0.3.21
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
pillow==11.0.0
proces==0.1.7
protobuf==4.25.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodomex==3.11.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pykakasi==2.3.0
pyparsing==3.2.1
pyserial==3.5
python-apt==2.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-mecab-ko==1.3.7
python-mecab-ko-dic==2.1.1.post2
python-multipart==0.0.17
python-prctl==1.8.1
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.2
pyzbar==0.1.9
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.9.4
rpi-lgpio==0.6
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
rsa==4.9
scikit-learn==1.6.1
scipy==1.14.1
sentencepiece==0.2.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejpeg==1.7.6
simplejson==3.19.3
six==1.16.0
smbus2==0.4.2
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
spidev==3.5
ssh-import-id==5.10
starlette==0.41.2
sympy==1.13.1
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-cpu-aws==2.15.0
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflowjs==4.21.0
tensorstore==0.1.71
termcolor==2.5.0
tf_keras==2.15.1
tflite-runtime==2.14.0
threadpoolctl==3.5.0
toml==0.10.2
toolz==1.0.0
torch==2.5.1
tqdm==4.67.1
tweepy==4.14.0
typer==0.13.0
typing_extensions==4.12.2
tzdata==2024.2
unicodecsv==0.14.1
Unidecode==1.3.8
urllib3==2.2.3
uvicorn==0.32.0
uvloop==0.21.0
v4l2-python3==0.3.5
watchfiles==0.24.0
websockets==14.0
Werkzeug==3.1.3
wrapt==1.14.1
wsproto==1.2.0
wurlitzer==3.1.1
zipp==3.21.0
